[Desktop Entry]
Name=Network Connect
Comment=MadScientist Juniper Network Connect Session Manager
Type=Application
Terminal=false
StartupNotify=false
Categories=Network;
Actions=Disconnect
Icon=/usr/share/pixmaps/msjnc.gif
Exec=/usr/bin/msjnc -fg

[Desktop Action Disconnect]
Name=VPN Session Disconnect
Exec=/usr/bin/msjnc --disconnect